:root {
  --card-bg-color: rgba(0, 0, 0, 0.75);
  --card-border-color: rgba(0, 0, 0, 0.125);
  --text-color: #fff;
  --title-color: #ff5252;
  --highlight-color: #ffaa00;
  --series-color: #888;
  --transition-duration: 0.3s;
}

.scpCardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.scp-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
}

.scp-card {
  border: 2px solid var(--card-border-color);
  border-radius: 8px;
  padding: 16px;
  background-color: var(--card-bg-color);
  color: var(--text-color);
  transition: transform var(--transition-duration),
    box-shadow var(--transition-duration);
  max-width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.scp-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.scp-card-title {
  font-size: 1.5rem;
  margin-bottom: 12px;
  color: var(--title-color);
  line-height: 1.2;
}

.scp-card-details p {
  margin: 4px 0;
  font-size: 0.9rem;
}

.scp-card-details strong {
  color: var(--highlight-color);
}

.scp-card-series {
  font-size: 0.8rem;
  margin-top: 12px;
  color: var(--series-color);
  font-style: italic;
}
.scp-card-wrapper {
  box-sizing: border-box;
}
